{% extends "base.html" %}
{% block content %}
{% load static %}


<div class="page-body">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message|safe }}
    </div>
    {% endfor %}
    {% endif %}
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>Create Customer
                            <small>ERP Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href=""><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Adminpanel</li>
                        <li class="breadcrumb-item active">Create Customer</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row product-adding">
            <div class="col-xl-11">
                <div class="card">
                    <div class="card-header">
                        <h5>General</h5>
                    </div>
                    <div class="card-body">
                        <div class="digital-add needs-validation">
                            <form method="post" action="" id="from1">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="validationCustomtitle" class="col-form-label pt-0"><span>*</span>
                                        Name</label>
                                    <input class="form-control" required name='name' id="validationCustomtitle"
                                        type="text">
                                </div>
                                <div class="form-group">
                                    <label for="validationCustomtitle" class="col-form-label pt-0"><span>*</span>
                                        Email</label>
                                    <input class="form-control" name='email' id="validationCustomtitle" type="text"
                                        required="">
                                </div>
                                <div class="form-group">
                                    <label for="validationCustomtitle" class="col-form-label pt-0">
                                        Total Purchase Amount</label>
                                    <input class="form-control" name='t_p_amount' id="validationCustomtitle" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="validationCustomtitle" class="col-form-label pt-0">
                                        Phone Number</label>
                                    <input class="form-control" name='p_number' id="validationCustomtitle" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="validationCustomtitle" class="col-form-label pt-0">
                                        Address</label>
                                    <input required id="password" name="address" type="text" class="form-control"
                                        placeholder="address">
                                </div>
                                <div class="form-group mb-0">
                                    <div class="product-buttons text-center">
                                        <button id="submit" class="btn btn-primary " type="submit">Create</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>


{% endblock content %}