{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/all_list.css' %}">

<style>
	.status_A {
		color: rgb(8, 244, 8);
	}

	.status_I {
		color: red;

	}
</style>

<body>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center">
					<h2 class="heading-section">User List</h2>
				</div>
			</div>
			<div class="row" style="margin-left: 100px;">
				<div class="col-md-12">
					<div class="">
						<table class="table table-responsive-xl">
							<thead>
								<tr>
									<th style="font-size: 18px;">First Name</th>
									<th style="font-size: 18px;">Email</th>
									<th style="font-size: 18px;">Total Purchase Amount</th>
									<th style="font-size: 18px;">Phone Number</th>
									<th style="font-size: 18px;">Address</th>
								</tr>
							</thead>
							<tbody>

								{% for customer in all_customer %}

								<tr class="alert" role="alert">
									<td>{{customer.name}}</td>
									<td>{{customer.email}}</td>
									<td>{{customer.totalpurchaseamount}}</td>
									<td>{{customer.ph_number}}</td>
									<td>{{customer.address}}</td>
								</tr>

								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="{% static 'js/all_list/jquery.min.js' %}"></script>
	<script src="{% static 'js/all_list/popper.js' %}"></script>

	<script src="{% static 'js/all_list/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/all_list/main.js' %}"></script>

	{% comment %}
	<!-- <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script> --> {% endcomment %}
	{% endblock content %}